.diapositiva1{
    background-color: blue;
    height: 30em;
}
.diapositiva2{
    background-color: rgb(112, 126, 72);
    height: 30em;
}
.diapositiva3{
    background-color: rgb(9, 255, 0);
    height: 30em;
}
.diapositiva4{
    background-color: rgb(255, 0, 200);
    height: 30em;
}